@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Rubik+Mono+One&display=swap');

*{
    color: #222;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Poppins;
    height: 90vh;
    background-color: #f0f0f0;
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    font-size: 44px;
    margin-bottom: 50px;
    color: #333;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 3px #222 solid;
}

.play-button {
    padding: 15px 30px;
    font-size: 16px;
    font-weight: 700;
    background-color: #fff;
    border: 1px black solid;
    color: #222; 
    border-radius: 10px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.word{
    font-family: "Roboto Mono", monospace;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 50px;
    border-bottom: 3px #222 solid;
    width: 100%;
}

.character{
    margin: 0 10px;
    outline: 2px solid #222;
    padding: 10px 20px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 50px 0px;
}

.row {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

button {
    font-size: 28px;
    font-weight: 700;
    color: white;
    background-color: #fff;
    border: 1px black solid;
    color: #222;   
    border-radius: 5px;
    width: 50px;
    height: 50px;
}

button:active, .play-button:hover{
    background-color: #4e4e4e;
    color: #fff;
}

button:disabled {
    border: 1px #777 solid;
    background-color: #c5c5c5;
    color: #f0f0f0;
}

.attempts, .how-to{
    margin: 10px 0;
    font-size: 20px;
}

.how-to, .close{
    text-decoration: underline;
    cursor: pointer;
}

.rules {
    visibility: hidden;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: white;
    border: 2px solid #222;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    z-index: 1000;
    width: 250px;
}

.close{
    margin-left: 200px;
    font-size: 12px;
    font-weight: 400;
}

.rules h2 {
    font-size: 18px;
    margin-top: 0;
}

.rules ul {
    list-style: none;
    padding-left: 0;
}

.rules li {
    font-size: 14px;
    margin-bottom: 10px;
}

@media (max-width: 800px) {
    .container{
        padding: 100px 0px;
    }
    h1, .word {
        width: 100%;
        font-size: 28px;
    }
    button {
        font-size: 20px;
        width: 35px;
        height: 45px;
    }
    .row{
        gap: 2px;
    }
    .word{
        font-size: 28px;
    }
    .character{
        margin: 0 8px;
        padding: 2px 8px;
    }
    .attempts, .how-to{
        font-size: 16px;
    }
}